 body {
    background-color:grey;
    color: whitesmoke;
    font-family: Cambria;
    text-align: center;
 }

header {
text-align: center;
}

h2 { 
    color: black;
    text-align: center;
    
}

h3{
    color: black;
    text-align: center;
}

ul{
    list-style: none;
}

p{
    margin: 10px 180px 10px 180px;
}
